
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Project.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Project.assets.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Project.assets.cache
